.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      - if (!user)
        li.active(role='presentation')
          a(href='/signup') sign up
        li.active(role='presentation')
          a(href='/signin') sign in
      - else
        li.active(role='presentation')
          a(href='/logout') log out
        li.active(role='presentation')
          a(href='/profile') profile
      li.active(role='presentation')
          a(href='/') home
    h3.tamplr-logo tamplr
    - if (user)
      p Logged in as #{user.username}
